@media screen and (max-width: 576px){
    .background{
        position: relative;
        width: 100vw;
        height: 100%;
        
    }
    body{
        height: 1000px;
    }
   
 }

@media screen and (min-width: 576px) and (max-width:1024px){
   .background{
    position: relative;
    width: 100vw;
    height:100%;
   }
   body{
    height: 2000px;
   }
}